<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">B2B.Admin</a>
    </div>
</div>

<input type="checkbox" title="Gezinme menüsü" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Ana Sayfa
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="login">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Giriş
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="products">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Ürünler
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="categories">
                <span class="bi bi-folder-nav-menu" aria-hidden="true"></span> Kategoriler
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pending-dealers">
                <span class="bi bi-person-check-nav-menu" aria-hidden="true"></span> Bayi onayları
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="orders">
                <span class="bi bi-cart-check-nav-menu" aria-hidden="true"></span> Siparişler
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cari">
                <span class="bi bi-credit-card-2-front-nav-menu" aria-hidden="true"></span> Cari
            </NavLink>
        </div>
    </nav>
</div>

